body {
	background-color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

button, select, input[type=color] {
	background-color: #009933;
	padding: 5px;
	padding-left:7px;
	padding-right: 7px;
	border: solid 1px #00c742;
	border-radius: 3px;
	color: white;
	outline: none;
	margin: 0px;

}

#head_span h1 {

	color: white;
}

#head_span {
	background-color:  #009933;
	width: 100%;
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	box-shadow: 0px 5px 5px grey;
}

#main { margin-left: 5px;}

a {
	color: #009933;
}

a:visited { color: #009933; }

a:hover { color: #00df4a;  text-decoration: underline; }
a:active { color: #00df4a;  text-decoration: underline; }

a.head_element {
    color: white;
}

a.head_element:visited { color: white; }

a.head_element:hover { color: rgb(224, 224, 224); text-decoration: underline; }
a.head_element:active { color: rgb(224, 224, 224);  text-decoration: underline; }

input[type=range] {
	-webkit-appearance: none;
	appearance: none;

	width: 128px;
	height: 8px;
	border-radius: 4px;

	background-color: #aaaaaa;
}


#image_filter {
	z-index: 100;
	position: absolute;
	pointer-events: none
}

::-webkit-slider-thumb {
	appearance: none;

	width: 12px;
	height: 12px;
	border-radius: 12px;

	background-color: #009933;
}

::-moz-range-thumb {
	appearance: none;

	width: 12px;
	height: 12px;
	border-radius: 12px;

	background-color: #009933;
}

.progress-bar-background {
	z-index: 0;
	background-color: #aaaaaa;
	border-radius: 5px;
	width: 128px;
	height: 16px;

	position: absolute;
}

.progress-bar-foreground {
	z-index: 1;
	background-color: #009933;
	border-radius: inherit;
	height: inherit;
	width: 0px;
	height: 16px;

	position: relative;
	top: 0;
}