<head>
<title>Image to Excel Converter</title>
<!-- Other imports -->
<link rel='stylesheet' href='/static/style.css'>
</head>

<div id='head_span'><h1 style='display: inline-block;'>Image to Excel Converter</h1><h2 style='display: inline-block; color: white; margin-left: 10px;'>A thing made by Oscar Peace.</h2></div>



<div id='main'>
<p>This is converter that converts images to excel spreadsheets. Because why not.</p>
<form id='form' enctype="multipart/form-data">
  <input name='file' type='file' accept="image/*" onchange="update_image()">
  
  <label for='filters'>Select a filter.</label>
  <select name='filter' id="filters" onchange="filterDetect();">
    <option value="RGB">None</option>
    <option value="GS">Greyscale</option>
    <option value="FILTER">Custom colour</option>
  </select>
  <input value='#ff0000' id='filter_colour' type='color' name='colour' style="visibility: hidden;"/>
  <button id='submit'>Convert</button>
</form>

<img id='image_file'/>

<div id='progress'>
  <div id='progress_bar' title='0%' style='width: 0px;'></div>
  <p style="white-space: pre-line" id='progress_status'></p>
</div>
</div>

<script src='/static/process.js'></script>
